<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="TNW_QuickbooksBasic::config" title="QuickBooks" sortOrder="100"/>
                    <resource id="TNW_QuickbooksBasic::customer" title="QuickBooks Customer" sortOrder="200"/>
                </resource>
                <resource id="TNW_QuickbooksBasic::system_message" title="QuickBooks System Message" sortOrder="300"/>
            </resource>
        </resources>
    </acl>
</config>
