<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <quickbooks>
            <general>
                <quickbooks_url>qbo.intuit.com</quickbooks_url>
                <url_token_request>https://oauth.intuit.com/oauth/v1/get_request_token</url_token_request>
                <url_token_access>https://oauth.intuit.com/oauth/v1/get_access_token</url_token_access>
                <url_user_auth>https://appcenter.intuit.com/Connect/Begin</url_user_auth>
                <url_api_quickbooks>https://quickbooks.api.intuit.com/v3/</url_api_quickbooks>
                <url_reconnect>https://appcenter.intuit.com/api/v1/connection/reconnect</url_reconnect>
                <environment>0</environment>
                <client_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <client_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <timezone_for_date>America/Los_Angeles</timezone_for_date>
            </general>
            <advanced>
                <log_status>0</log_status>
                <db_log_status>1</db_log_status>
                <db_log_limit>10000</db_log_limit>
            </advanced>
        </quickbooks>
        <quickbooks_customer>
            <customer>
                <active>1</active>
            </customer>
        </quickbooks_customer>
    </default>
</config>
