{
    "name": "$EQP_ADVANCED_META_SKU",
    "description": "QuickBooks Integration",
    "version": "$VERSION",
    "type": "metapackage",
    "require": {
        "$EQP_BASIC_SKU": "$BASIC_VERSION",
        "$EQP_ENTERPRISE_SKU": "$ENTERPRISE_VERSION",
        "$EQP_BUSINESS_SKU": "$BUSINESS_VERSION"
    },
    "license": [
        "gpl-3.0"
    ]
}
